;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background =        #90222222
foreground =        #E8DFD6
background-alt =    #99444444
foreground-alt =    #FFFFFF
primary =           #44B5B1
secondary =         #FF5879
alert =             #C2454E
green =             #7CBF9E
blue =              #9ED9D8




; ========================================================= Bar1
[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

padding-right = 2
padding-left = 0




[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true


; ========================================================= Bar2
[bar/mainbar1]
inherit = bar/barbase
modules-right = workspace1 
modules-left = xwindow

offset-x = 1660
offset-y = 8
width = 800
height = 22

radius = 8px
padding-left = 2
padding-right = 2
module-margin-left = 0
module-margin-right = 0
font-0 = CaskaydiaCove Nerd Font:pixelsize=10:antialias=true;1


[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true


[bar/barbase]
width = 100%
height = 24
offset-x = ${env:offsetx}
offset-y = ${env:offsety}
monitor = ${env:monitor}

module-margin-left = 1
module-margin-right = 1

background = ${colors.background}
foreground = ${colors.foreground}

font-0 = CaskaydiaCove Nerd Font:pixelsize=12:antialias=true;1
font-1 = unifont:fontformat=truetype:size=50:antialias=false;0

;modules-left =
;modules-center =
modules-right = filesystem sep pulseaudio sep xkeyboard sep memory sep cpu temp sep wlan spe date powermenu

cursor-click = pointer
cursor-scroll = ns-resize
enable-ipc = true

[module/sep]
type = custom/text
content = "|"


[module/xwindow]
type = internal/xwindow
label = %title:0:50:...%

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock
format-prefix = "  "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${colors.primary}
label-layout = %layout%
label-layout-underline = ${colors.primary}
label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.primary}
label-indicator-underline = ${colors.primary}

[module/filesystem]
type = internal/fs
interval = 5
mount-0 = /
mount-1 = /mnt/vault
mount-2 = /mnt/backup
label-mounted = %{F#9ED9D8}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/bspwm]
type = internal/bspwm
label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2
label-occupied = %index%
label-occupied-padding = 2
label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2
label-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2
; Separator in between workspaces
; label-separator = |

[module/mpd]
type = internal/mpd
format-online = <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>
icon-prev = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 
label-song-maxlen = 25
label-song-ellipsis = true

[module/cpu]
type = internal/cpu
interval = .5
format-prefix = "閭 " 
label = %percentage:2%%
format-prefix-foreground = ${colors.primary}


[module/temp]
type = custom/script
exec = $SCRIPTPATH/scripts/cpu_temp.sh
label = %output:2% 糖
format-prefix = "  "
format-prefix-foreground = ${colors.secondary}
interval = 1

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format = <label> 
warn-percentage = 85
label = %used:8% %{F#9ED9D8}(%percentage_used%%)%{F-}
format-warn = %{F#FF5879}<label>%{F-} -> (%{F#9ED9D8}swap <label-warn>%{F-})
label-warn = %swap_used%/%swap_total%


[module/wlan]
type = internal/network
interface = enp34s0
interval = .5
label-connected = %{F#7CBF9E}%downspeed:9%  %{F#9ED9D8}%upspeed:9% 


[module/date]
type = internal/date
date = %%{F#fff}%m/%d/%Y%%{F-}  %%{F#fff}%I:%M %p%{F-}
date-alt = %%{F#fff}%A, %B %d, %Y  %%{F#fff}%I:%M:%{F#666}%%{F#fba922}%S%%{F-} %p
;interval = 5
;date =
;date-alt = " %Y-%m-%d"
;time = %H:%M
;time-alt = %H:%M:%S
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
;format-underline = #0a6cf5
;label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio
format-volume = <label-volume>
label-volume = %{F#9ED9D8} %percentage%%{F-}
label-volume-foreground = ${root.foreground}
label-muted = "Muted" 
label-muted-foreground = #666


[module/powermenu]
type = custom/menu
expand-right = false
format-spacing = 1
label-open = "⏻"
label-open-foreground = ${colors.secondary}
label-close = "cancel"
label-close-foreground = ${colors.secondary}
label-separator = "|"
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = "reboot"
menu-0-0-exec = menu-open-1
menu-0-1 = "power off"
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = "reboot"
menu-1-1-exec = sudo reboot

menu-2-0 = "power off"
menu-2-0-exec = sudo poweroff
menu-2-1 = "cancel"
menu-2-1-exec = menu-open-0

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
