;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background =        #90222222
foreground =        #E8DFD6
background-alt =    #99444444
foreground-alt =    #FFFFFF
primary =           #44B5B1
secondary =         #FF5879
alert =             #C2454E
green =             #7CBF9E
blue =              #9ED9D8




; ========================================================= screen 1
[bar/first_screen_first_bar]
inherit = bar/barbase
modules-left = workspace0
modules-right =  cava pulseaudio sep xkeyboard sep memory sep cpu_load cpu_temp gpu_load gpu_temp gpu_fanspeed  sep wlan spe date rofi_powermenu

padding-right = 2
padding-left = 0


[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true


; ========================================================= screen 2
[bar/second_screen_first_bar]
inherit = bar/barbase

tray-position = right
tray-padding = 2

modules-left =  launcher sep workspace1 

offset-x = 1910
offset-y = 8
width = 550
height = 22

radius = 8px
padding-left = 2
padding-right = 2
module-margin-left = 0
module-margin-right = 2

[bar/second_screen_second_bar]
inherit = bar/barbase
modules-right = mpd 
modules-left = filesystem sep xwindow 

offset-x = 100
offset-y = 8
width = 1460
height = 22

radius = 8px
padding-left = 2
padding-right = 2
module-margin-left = 0
module-margin-right = 2






[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true


[bar/barbase]
width = 100%
height = 24
offset-x = ${env:offsetx}
offset-y = ${env:offsety}
monitor = ${env:monitor}

module-margin-left = 1
module-margin-right = 1

background = ${colors.background}
foreground = ${colors.foreground}

font-0 = CaskaydiaCove Nerd Font:pixelsize=12:antialias=true;1

;modules-left =
;modules-center =

cursor-click = pointer
cursor-scroll = ns-resize
enable-ipc = true

[module/sep]
type = custom/text
content = "|"

[module/launcher]
type = custom/text
content = 異
content-background = ${colors.background}
content-foreground = ${colors.primary}
click-left = ~/.config/rofi/launchers/type-7/launcher.sh
click-right = launcher_t2





;Modules =================================================================

[module/xwindow]
type = internal/xwindow
label = %title:0:40:...%


[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock
format-prefix = "  "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${colors.primary}
label-layout = %layout%
label-layout-underline = ${colors.primary}
label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.primary}
label-indicator-underline = ${colors.primary}

[module/filesystem]
type = internal/fs
interval = 5
mount-0 = /
mount-1 = /mnt/vault
mount-2 = /mnt/dev
mount-3 = /mnt/backup
label-mounted = %mountpoint%:%{F#9ED9D8}%percentage_used%%%{F-}
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/bspwm]
type = internal/bspwm
label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2
label-occupied = %index%
label-occupied-padding = 2
label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2
label-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2
; Separator in between workspaces
; label-separator = |

[module/rofi_powermenu]
type = custom/text
content = ⏻
click-left = ~/.config/rofi/powermenu/type-2/powermenu.sh
click-right = launcher_t2
content-foreground = ${colors.secondary}


[module/mpd]
type = internal/mpd
format-online = <label-song> <icon-prev> <toggle> <icon-next>
label-song = %title%
icon-prev = 﫿
icon-play = 契
icon-pause = 
icon-next = ﬀ
label-song-maxlen = 60
label-song-ellipsis = true

[module/cpu_load]
type = internal/cpu
interval = .5
format-prefix = "閭 " 
label = %percentage:2%%
format-prefix-foreground = ${colors.primary}

[module/cava]
type = custom/script
tail = true
exec = $SCRIPTPATH/scripts/cava.sh
format = <label>
label = %output%
format-foreground = ${colors.primary}

[module/cpu_temp]
type = custom/script
exec = $SCRIPTPATH/scripts/cpu_temp.sh
label = %output:2% 糖
format-prefix = "  "
format-prefix-foreground = ${colors.secondary}
interval = 1

[module/gpu_load]
type = custom/script
exec = $SCRIPTPATH/scripts/gpu_load.sh
label = %output:2%%
format-prefix = "閭  "
format-prefix-foreground = ${colors.green}
interval = 1

[module/gpu_temp]
type = custom/script
exec = $SCRIPTPATH/scripts/gpu_temp.sh
label = %output:2% 糖
format-prefix = "  "
format-prefix-foreground = ${colors.secondary}
interval = 1



[module/gpu_fanspeed]
type = custom/script
exec = $SCRIPTPATH/scripts/gpu_fanspeed.sh

label = %output:2%%
format-prefix = "ﯛ "
format-prefix-foreground = ${colors.secondary}
interval = 1

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format = <label> 
warn-percentage = 85
label = %used:8% %{F#9ED9D8}(%percentage_used%%)%{F-}
format-warn = %{F#FF5879}<label>%{F-} -> (%{F#9ED9D8}swap <label-warn>%{F-})
label-warn = %swap_used%/%swap_total%


[module/wlan]
type = internal/network
interface = enp34s0
interval = .5
label-connected = %{F#7CBF9E}%downspeed:7%  %{F#9ED9D8}%upspeed:7% 


[module/date]
type = internal/date
date = %%{F#fff}%m/%d/%Y%%{F-}  %%{F#fff}%I:%M %p%{F-}
date-alt = %%{F#fff}%A, %B %d, %Y  %%{F#fff}%I:%M:%{F#666}%%{F#fba922}%S%%{F-} %p
;interval = 5
;date =
;date-alt = " %Y-%m-%d"
;time = %H:%M
;time-alt = %H:%M:%S
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
;format-underline = #0a6cf5
;label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio
format-volume = <label-volume>
label-volume = %{F#9ED9D8} %percentage%%{F-}
label-volume-foreground = ${root.foreground}
label-muted = "Muted" 
label-muted-foreground = #666


[module/powermenu]
type = custom/menu
expand-right = false
format-spacing = 1
label-open = "⏻"
label-open-foreground = ${colors.secondary}
label-close = "cancel"
label-close-foreground = ${colors.secondary}
label-separator = "|"
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = "| reboot"
menu-0-0-exec = sudo reboot
menu-0-1 = "power off"
menu-0-1-exec = sudo poweroff


[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
